@import "../../common-style/_variables.scss";

body.home-page {
    .home-hero {
        background-color: #F7F7F7;
        padding: 80px 0px;

        .latest-new__img {
            img {
                border-radius: 10px;
                min-height: 425px;
                object-fit: cover;
                transition: 0.2s;
            }
        }
    
        .latest-new__desc {
            width: 100%;
            max-width: 470px;
    
            .time {
                p {
                    font-size: 16px;
                    color: $cl-01;
                    text-transform: uppercase;
                    position: relative;
                    padding-left: 16px;
                    margin-right: 10px;
    
                    &::after {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: $cl-01;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }
                }
    
                span {
                    font-size: 12px;
                    color: #777777;
                }
            }
    
            h3 {
                margin: 15px 0px;
    
                a {
                    font-weight: bold;
                }
            }
    
            & > p {
                font-size: 16px;
                margin-bottom: 30px;
            }
            & > a {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                background-color: $cl-01;
                padding: 11px 19.5px;
                border-radius: 30px;
            }
        }
    }

   
}
