/* ========common style======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    overflow-x:hidden;
    color: #1A1A1A;

    @include breakpoint (767px) {
        min-width: 320px;
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;

    &:hover {
        color: unset;
        text-decoration: none;
        opacity: 0.8;
    }
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ========header - style========  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 200000;
    max-height: 164px;
    background-color: #fff;

    .header-top {
        background-color: #F3F3F3;

        .header-top__inner  {
            padding: 9.5px 0px;

            .header-top__contact {
                li {
                    display: flex;
                    align-items: center;
                    color: #777777;
                    font-size: 14px;
                    margin-right: 24px;
    
                    img {
                        width: auto;
                        margin-right: 6px;
                    }
    
                    a {
                        font-size: 14px;
                    }
                }
            }

            .header-top__social {
                .language-choose  {
                    position: relative;
                    margin-right: 15px;
                    padding-right: 15px;
                    cursor: pointer;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px; 
                        height: 30px;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #E5E5E5;
                    }
                    
                    span {
                        font-size: 16px;
                        color: #777777;
                    }

                    img {
                        max-width: 10px;
                        margin-left: 2px;
                    }
                }

                .social__list {
                    li:not(:last-child) {
                        margin-right: 14px;

                        a img {
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .header-mid {
        position: relative;
        width: 100%;
        height: auto;

        .inner {
            width: 100%;
            flex-wrap: wrap;
            padding: 5px 0px;

            .header__logo {
                img {
                    max-height: 64px;
                }
            }

            .header-mid__right {
                flex: 1;
                justify-content: flex-end;

                .header-tag__news {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        margin-left: 15px;

                        &.active {
                            a {
                                background-color: $cl-01;
                                color: #fff;
                            }
                        }
                       
                        a {
                            display: block;
                            padding: 4.5px 8.5px;
                            border: 1px solid $cl-01;
                            font-size: 16px;
                            color: $cl-01;
                            border-radius: 20px;

                            &:hover {
                                background-color: $cl-01;
                                color: #fff;
                                opacity: 1;
                            }
                        }
                    }
                }

                .latest-new-link {
                    position: relative;
                    padding: 0px 18px;
                    margin: 0px 18px;
                    
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #E5E5E5;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        left: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #E5E5E5;
                    }

                    a {
                        background-color: #F3F3F3;
                        font-size: 16px;
                        display: block;
                        padding: 10.5px 30px;
                        border-radius: 20px;

                        &:hover {
                            background-color: $cl-01;
                            color: #fff;
                            opacity: 1;
                        }

                        &.active {
                            background-color: $cl-01;
                            color: #fff;
                        }
                    }
                }

                .header__search {
                    position: relative;

                    a {
                        font-size: 16px;

                        img {
                            width: auto;
                            max-width: 16px;
                            margin-right: 6px;
                        }

                        &.search {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    nav {
        background-color: #1A1A1A;
        width: 100%;
        position: relative;

        .header-menu {
            position: relative;
            width: 100%;
            padding: 12.5px 0px;

            li {
                margin: 0px 7.5px;

                a {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    white-space: nowrap;

                    img {
                        max-width: 24px;
                        width: auto;
                    }
                }

                &:last-child {
                    img {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

main {
    padding-top:  164px;

    & > .wrap-content {
        padding-top: 80px;
    }
}

footer {
    margin-top: 80px;
    border-top: 10px solid #DDDDDD;
    padding: 30px 0px;

    .footer-top {
        padding-bottom: 30px;
        border-bottom: 1px solid #E5E5E5;

        .cat__new {
            align-items: flex-start;
            padding-right: 50px;
            border-right: 1px solid #E5E5E5;

            .block {
                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                    a {
                        font-size: 14px;
                        display: block;
                    }
                }
            }
        }

        .footer-link__app {
            padding-left: 50px;

            .app__link {
                padding-top: 15px;
                justify-content:space-around;

                img {
                    width: 170px;
                    height: 63px;
                    object-fit: cover;
                }
            }
        }
    }

    .footer__block {
        .copyright {
            font-size: 14px;

            a {
                color: #0077FF;
            }
        }

        .footer__logo {
            margin-bottom: 30px;
            img {
                max-width: 270px;
            }
        }

        .footer__img-link {
            img {
                max-width: 170px;
            }
        }

        .about-line {
            font-size: 14px;
        }

        .footer__contact {
            li {
                display: flex; 
                align-items: flex-start;
                font-size: 14px;
                margin-bottom: 12px;

                a {
                    font-size: 14px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                img {
                    width: auto;
                    max-width: 16px;
                    margin-top: 3px;
                    margin-right: 10px;
                }
            }
        }

        .footer__social {
            display: flex;
            align-items: center;

            li {
                margin-right: 15px;
                border: 1px solid #777777;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s;

                &:hover {
                    background-color: #1A1A1A;
                    border-color: #1A1A1A;

                    a {
                        opacity: 1;
                    }

                    a svg path {
                        fill: #fff;
                    }
                }

                a {
                    svg {
                        path {
                            fill: #777;
                        }
                    }
                }
            }
        }
    }

    .footer__title {
        font-size: 20px;
        margin-bottom: 15px;

        &.ct-color {
            color: #0077FF;
        }
    }
}

section.section-block {
    padding-top: 80px;
}

.title-section {
    margin-bottom: 30px;
    display: flex;
    align-items: stretch;
    background-color: #fff;

    span {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        padding: 7.5px 20px;
        text-transform: uppercase;

        &:first-child {
            margin-right: 2px;
            background-color: #1A1A1A;
            border-top-left-radius: 36px;
            border-bottom-left-radius: 36px;
        }

        &:last-child {
            background-color: $cl-01;
            border-top-right-radius: 36px;
            border-bottom-right-radius: 36px;
            padding: 7.5px;
        }

        img {
            width: auto;
            max-width: 41px;
        }
    }
}

.new-info-cm {
    .info {
        font-size: 14px;
        color: #777777;
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 15px;
        }

        img {
            max-width: 14px;
            margin-right: 6px;
        }

        span {
            color: #0077FF;
        }
    }
}

.most-view__list {
    li {
        display: flex;
        align-items: flex-start;
        padding-bottom: 13px;

        &:not(:last-child) {
            margin-bottom: 13px;
            border-bottom: 1px solid #E5E5E5;   
        }

        .thumb {
            img {
                width: 170px;
                height: 170px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .desc {
            flex: 1;
            padding-left: 30px;

            .title {
                margin-bottom: 15px;

                a {
                    font-size: 20px;
                    font-weight: bold;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                }
            }

            .content {
                margin-bottom: 15px;
                font-size: 16px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
            }
        }
    }
}

aside.wrap-aside {
    width: 100%;

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

        span {
            padding-bottom: 2px;
            border-bottom: 2px solid $cl-01;
        }
    }

    table.covid-19 {
        width: 100%;

        thead {
            th {
                color: #777777;
                font-size: 14px;
                text-align: right;
                font-weight: 400;
            }
        }

        tbody {
            th {
                font-size: 14px;
                font-weight: bold;
            }

            td {
                text-align: right;
                font-size: 18px;
                padding: 3px;
            }

            tr {
                &:first-child {
                    td {
                        color: $cl-01;
                    }
                }

                &:nth-child(2) {
                    td {
                        color: #82046D;
                    }
                }

                &:nth-child(3) {
                    td {
                        color: #4A7568;
                    }
                }
            }
        }
    }

    .covid-more-link {
        display: block;
        margin: 25px 0px;
        font-size: 16px;
        font-weight: 600;
        color: #0077FF;
    }

    .tag__link {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E5E5E5;
        overflow-x: auto;
        display: flex;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            margin-right: 10px;

            a {
                display: block;
                font-size: 16px;
                color: #777777;
                padding: 6px 8px;
                border: 1px solid #777777;
                border-radius: 20px;
                white-space: nowrap;

                &:hover {
                    background-color: $cl-01;
                    color: #fff;
                    border-color: $cl-01;
                }
            }
        }

        &.tag-flex-wrap {
            overflow-x: hidden;
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .aside__banner {
        img {
            border-radius: 10px;
        }
    }

    .aside-block {
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 20px;

        .title {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #E5E5E5;

            &.ct--color {
                color: $cl-01;
            }
        }

        &.block-bg {
            background-color: #F7F7F7;
        }

        .f-poll {
            width: 100%;

            .question {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .submit {
                .bt-sm {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    background-color: #1A1A1A;
                    border-radius: 30px;
                    padding: 10px 20px;
                    margin-right: 10px;

                    &.bt-sm-ct {
                        color: #1A1A1A;
                        background-color: #fff;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .number-people {
            color: #777777;

            strong {
                color: #1A1A1A;
            }
        }

        &.block-author {
            overflow: hidden;
            border: 1px solid #E5E5E5;

            .block-author__title {
                font-size: $title-medium;
                text-align: center;
                background-color: #E5E5E5;
                padding: 12px;
                text-transform: uppercase;
            }

            .wrap-author__list {
                overflow-y: hidden;
                padding: 15px 3px 5px 15px;

                .author__list {
                    padding-right: 10px;
                    overflow-y: auto;
                    max-height: 420px;
    
                    &::-webkit-scrollbar {
                        width: 5px;
                        background-color: #E5E5E5;
                        border-radius: 5px;
                    }
    
                    &::-webkit-scrollbar-thumb {
                        border-radius: 5px;
                        background-color: #707070;
                    }
    
                    li {
                        padding: 15px 0px;
                        border-bottom: 1px solid $border-cl;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:first-child {
                            padding-top: 0px;
                        }
    
                        .avatar {
                            img {
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                            }
                        }
    
                        .name {
                            flex: 1;
                            padding-left: 10px;
    
                            a {
                                font-size: $title-small;
                                font-weight: 600;
                                display: block;
                                margin-bottom: 6px;
                            }
    
                            p {
                                font-size: 14px;
                                color: #777777;
                            }

                            &:hover a,
                            &:hover p {
                                color: $cl-01;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            
        }
    }
}

.viewer-cm {
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #E5E5E5;

        &:last-child {
            margin-bottom: 0px;
        }

        .desc {
            flex: 1;
            padding-right: 30px;

            .title {
                margin-bottom: 15px;

                a {
                    font-weight: 600;
                    font-size: 20px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                }
            }

            .text {
                font-size: 16px;
                margin-bottom: 15px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
            }
        }

        .avatar {
            padding: 0px 30px;
            font-size: 14px;
            color: #777777;
            align-items: center;

            img {
                max-width: 86px;
                object-fit: cover;
                margin-bottom: 15px;
            }
        }
    }
}

.most-view__list-more {
    padding: 15px 0px;
    overflow-x: auto;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    li {
        padding-left: 15px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            background-color: #bbbbbb;
            border-radius: 10px;
            left: 0px;
            top: 8px;
        }
    }
}

.aside-news {
    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid $border-cl;

        .thumb {
            img {
                width: 100px;
                height: 70px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    
        .desc {
            flex: 1;
            padding-left: 15px;
    
            @include breakpoint(767px) {
                padding-left: 10px;
            }

            .title {
                margin-bottom: 10px;
                a {
                    font-size: $title-small;
                    @include lineNumber(2);
                }
            }

            .new-info-cm {
                .info {
                    font-size: 12px;
                }
            }
        }
    }
}

.aside-video {
    li {
        iframe {
            height: 166px;
            border-radius: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

        .title {
            margin-bottom: 0px;

            a {
                font-size: $title-small;
            }
        }
    }
}

.pagination {
    display: flex; 
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #000000D9;
        padding: 4px 8px;

        &:hover {
            color: $cl-01;
        }

        &.active {
            color: $cl-01;
        }

        img {
            max-width: 10px;
        }
    }
}
/* ==========end - header========== */