@mixin breakpoint($point) {
    @media only screen and (max-width: $point) {
        @content;
    }
}

@mixin lineNumber($number) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
    text-overflow: ellipsis;
}